.App {
  text-align: center;
}

.spot-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
}

.spot-card:hover {
  transform: translateY(-5px);
}

.cards-holder {
  width: 50%
}

.indi-card {
  margin: 0 16px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .cards-holder {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .indi-card {
    width: 80%;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .cards-holder {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .cards-holder {
    width: 100%;
  }

  .indi-card {
    margin: 0 5px;
  }

  .MuiTypography-root.MuiTypography-h5 {
    font-size: 1rem;
    font-weight: 700;
  }
}